* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Inter", sans-serif;
}

.container {
  width: 35vw;
  height: 100vh;
}

header {
  padding: 1.25em 2em;
  text-align: center;
  background-color: #f55a5a;
  margin-bottom: 4em;
}

nav {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  font-weight: 500;
}

.card__container {
  padding: 0 2.5em;
  display: flex;
  gap: 1.18em;
  width: 100%;
}

.content__image {
  width: 10em;
  height: 13em;
  border-radius: 5px;
}

.info__contianer {
  margin-top: 1.25em;
}

.location__info i {
  color: #f55a5a;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
}

.location__info .place__name {
  color: #2b283a;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.741px;
  margin-right: 1em;
}

.location__info .view__map {
  color: #918e9b;
  font-size: 1rem;
  text-decoration-line: underline;
}

.meta__info__continer .content__title {
  font-size: 1.8rem;
  color: #2b283a;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.meta__info__continer .content__date {
  color: #2b283a;
  font-size: 0.8rem;
  font-weight: 700;
}

.meta__info__continer .content__description {
    width: 80%;
}
