*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', monospace;
}

body {
    display: flex;
    justify-content: center;

}
#root {
    text-align: center;
    width: 50vw;
}

header {
    padding: 1.25em 0;
    background-color: #F55A5A;
    color: #fff;
    font-size: 1rem;
    letter-spacing: -1.085px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    gap:0.5em;

}